/* styles.css */
.draggable {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add styles here to customize the appearance of your app */